body{
    margin:0;
    padding:0;
}
.bg
{
    background-color: white;
}

li{
    font-size: 25px;
    margin-left: 10px;
}
.body
{
    padding-top: 12%;
    padding-bottom: 12%;
}
.intro
{
    height: 50vh;
    margin: auto;
   padding: 5%;
    
    
}
.text
{    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.name 
{
    font-size: 80px;
    
}
.one
{
    width:600px;
    height:500px;
    margin:auto;
}
i
{
    padding :10px;
}
i:hover
{
    color:#03506f;
}
.middle
{
    text-align: center;
    
}
a:visited
{
    color:black;
}
.two
{
    width:500px;
    height:400px;
   
}
.three
{
    width:500px;
    height:400px;
   
}
.four
{
    width:500px;
    height:400px;
}
.five
{
    width:500px;
    height:400px;
}
.project
{
   padding:5% 10% 5% 10%;
    
    
}
.box
{
    padding:2%;
}
.card 
{
    width: 550px;
}
.card-footer
{
    text-align: center;
    
}
.card-footer i
{
    margin-right:50px;
}
.skill{

    padding: 5% 10% 5% 10%;
   
  
    
}
.skill-one
{
    text-align: justify;
    

}

.box-one
{
    text-align: justify;
    padding: 5%;
}

.six
{
    margin: 0% 5%;
    width:500px;
    height:500px;
}
.seven
{
    margin-left: 180px;
    width:400px;
    height:400px;

}
.card{
    border: none;
    
}
.card-footer
{
   
    background-color: white;
}
.eight
{
    margin-left: 10%;
    width:600px;
    height:700px;
    border-radius: 5%;

    
}
.last
{
    padding:100px;
    font-size: larger;
}
.last input
{
    width:600px;
    border:2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 0px 20px 0px;
}
.last textarea{
    width:600px;
    height:300px;
}
.submit
{
    background-color: #03506f;
    border: none;
}
.submit:hover
{
    background-color: lightgreen;
}
footer{
    text-align: center;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 50px;
}
footer i:hover
{
    margin-right: 10px;
    font-size: 50px;
}
